@import '../../styles/variables';

.p-new-session {
    display: flex;
    height: 100%;

    &__heading {
        background-color: #1D1D2E;
        color: white;
        padding: $spacing-medium;
        max-width: 40%; 
        border-radius: 3px;

        h1 {
            line-height: 1.2;
            margin: $spacing-small 0px;
        }

        p {
            opacity: 0.7;
        }
    }

    &__buttons {
        margin-bottom: $spacing-medium;

        strong {
            display: block;
            margin-bottom: $spacing-small;
        }

        button {
            margin-bottom: 10px;
            margin-right: 15px;
        }
    }
}

.c-label {
    background-color: #FF16FF;
    color: white;
    padding: 5px;
    border-radius: 3px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 13px;
}