@import '../../styles/variables';

.p-navigation {
    padding: $spacing-small 0px;
    margin-bottom: $spacing-medium;
    background-color: #1D1D2E;
    color: white;

    ul {
        display: block;

        li {
            display: inline-block;

            + li {
                margin-left: 15px;
            }
        }
    }
}