@import '../../styles/variables';

.c-card {
    background-color: white;
    box-shadow: 0 0 0 1px rgba(16,22,26,.1), 0 0 0 rgba(16,22,26,0), 0 1px 1px rgba(16,22,26,.2);
    padding: $spacing-medium;
    margin: 0 auto;
}